:root {
  --main-constrast: rgb(78, 225, 160);
  --main-text: rgb(217, 217, 217);
  --spacing1: 3.5rem;
  font-size: 1rem;
}

*,
*:before,
*:after {
  box-sizing: border-box;
  font-family: "Space Grotesk", sans-serif;
  font-size: 1rem;
  line-height: 1.5rem;
  /* debug */
  /* outline: 1px solid red; */
}

html,
body {
  padding: 0;
  margin: 0;
}

body {
  color: var(--main-text);
  background-color: rgb(21, 21, 21);
}

h1,
h2,
h3,
h4 {
  color: white;
  font-weight: 700;
  margin: 0;
}

h1,
h2,
h1 > span,
h2 > span {
  font-size: 2.5rem;
  line-height: 2.5rem;
}

h3,
h3 > span {
  font-size: 2rem;
  line-height: 2rem;
}

.header {
  width: 100%;
  position: absolute;
  z-index: 10;
  margin: auto;
}

.nav {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 1rem 1rem;
  max-width: 32rem;
}

.nav__title,
.nav__title > span {
  color: white;
  font-size: 1.5rem;
  line-height: 1.5rem;
  font-weight: 700;
}

.nav__list {
  list-style-type: none;
  padding-inline-start: 0;
  display: flex;
  gap: 2rem;
  justify-content: space-evenly;
  margin-left: 1rem;
  margin-right: 1rem;
}

.nav__list a {
  line-height: 0;
  display: block;
}

.nav__svg * {
  transition: all 0.2s ease;
}

.nav__svg:hover * {
  fill: var(--main-constrast);
}

main {
}

.hero {
  width: 100%;
  min-width: fit-content;
  display: flex;
  position: relative;
  flex-direction: column-reverse;
  align-items: center;
  padding-bottom: var(--spacing1);
}

.hero__textblock {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-self: center;
  position: relative;
  text-align: center;
  z-index: 2;
}

.pattern-rings {
  align-self: baseline;
  position: absolute;
  left: 0;
  top: 15%;
  transform: translateX(-50%);
  z-index: 1;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
}

.pattern-circle {
  display: block;
  align-self: baseline;
  position: absolute;
  right: -3.75rem;
  bottom: 0rem;
}

.hero__h1 {
  margin-bottom: var(--spacing1);
}

.hero__p {
  margin-bottom: var(--spacing1);
  max-width: 32rem;
}

.hero__link {
  width: fit-content;
}

.hero__thick-underline {
  border-bottom-width: 5px !important;
}

.portrait__container {
  width: calc(100% + 3rem);
  margin-top: 2rem;
  position: relative;
  margin-bottom: var(--spacing1);
  overflow-x: hidden;
  transition: margin-right 0.2s ease;
  -webkit-transition: margin-right 0.2s ease;
  -moz-transition: margin-right 0.2s ease;
  -ms-transition: margin-right 0.2s ease;
  -o-transition: margin-right 0.2s ease;
}

.portrait {
  position: unset;
  min-width: 10rem;
  max-width: 50%;
  margin-left: auto;
  margin-right: auto;
}

.portrait__image {
  display: block;
  background: linear-gradient(to top, rgba(34, 34, 34, 1), rgba(34, 34, 34, 0));
  height: auto;
  width: 100%;
}

.interests {
  width: 100%;
  min-width: fit-content;
  border-top: 1px solid white;
  padding-top: var(--spacing1);
  display: flex;
  justify-content: center;
  text-align: center;
  flex-wrap: wrap;
  gap: 2rem;
}

.interests > div {
  flex-basis: calc(33% - 4rem);
  flex-shrink: 0;
}

.footer {
  min-width: fit-content;
  padding-top: var(--spacing1);
  background-color: rgb(36, 36, 36);
}

.contact {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  justify-content: space-between;
  margin-bottom: 3.75rem !important;
  text-align: center;
}

.contact__text {
  max-width: 25rem;
}

.contact__form {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 30rem;
}

.contact__form > *:not(:last-child) {
  margin-bottom: 2rem;
}

.contact__form input,
textarea {
  outline: none;
  border: none;
  background-image: none;
  background-color: transparent;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  color: white;
}

.contact__form input:not([type="submit"]),
textarea {
  padding-left: 1rem;
  padding-bottom: 1rem;
  border-bottom: 2px solid white;
}

.contact__form input:focus,
textarea:focus {
  border-color: var(--main-constrast);
}

.contact__form input[type="submit"] {
  font-weight: 700;
  align-self: flex-end;
  letter-spacing: 2.3px;
  padding-bottom: 0.5rem;
  border-bottom: 2px solid var(--main-constrast);
  cursor: pointer;
  transition: all 0.2s ease;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -ms-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
}

.contact__form input[type="submit"]:hover,
input[type="submit"]:focus {
  color: var(--main-constrast);
}

.contact__form input::placeholder,
textarea::placeholder {
  color: white;
}

.contact__form textarea {
  resize: none;
}

.center-section {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  max-width: 72rem;
  margin: auto;
}

.underline {
  border-bottom: 2px solid var(--main-constrast);
}

.link-template {
  text-decoration: none;
  color: white;
  font-weight: 700;
  letter-spacing: 2.3px;
  padding-bottom: 0.5rem;
  transition: all 0.2s ease;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -ms-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
}

.link-template:visited {
  color: white;
}

.link-template:hover {
  color: var(--main-constrast);
}

.frontendmentor,
.frontendmentor * {
  font-size: 0.75rem;
}

.frontendmentor > a,
a:visited {
  color: var(--main-constrast);
}

@media screen and (min-width: 48rem) {
  :root {
    --padding1: 5rem;
  }

  *,
  *:before,
  *:after {
    font-size: 1.0625rem;
    line-height: 1.59375rem;
  }

  h1,
  h1 > span {
    font-size: 3.75rem;
    line-height: 3.75rem;
  }

  h2,
  h2 > span {
    font-size: 3.75rem;
    line-height: 3.75rem;
  }

  h3,
  h3 > span {
    font-size: 2.5rem;
    line-height: 2.5rem;
  }

  .nav {
    flex-direction: row;
    justify-content: space-between;
  }

  .nav__title,
  .nav__title > span {
    font-size: 1.75rem;
    line-height: 1.75rem;
  }
  .hero {
    flex-direction: row;
    justify-content: space-between;
  }

  .hero__textblock {
    align-items: baseline;
    text-align: left;
  }

  .hero__h1 {
    width: 120%;
  }

  .portrait__container {
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: -1.5rem;
  }

  .portrait {
    margin-left: auto;
    margin-right: 0;
    position: relative;
    max-width: 28rem;
  }

  .portrait__image {
    max-width: 42rem;
    background: rgb(34, 34, 34);
  }

  .pattern-circle {
    right: -3.75rem;
  }

  .interests {
    justify-content: space-between;
    text-align: start;
  }
}

@media screen and (min-width: 75rem) {
  *,
  *:before,
  *:after {
    font-size: 1.125rem;
    line-height: 1.6875rem;
  }

  h1,
  h1 > span {
    font-size: 5rem;
    line-height: 5rem;
  }

  h2,
  h2 > span {
    font-size: 5rem;
    line-height: 5rem;
  }

  h3,
  h3 > span {
    font-size: 3rem;
    line-height: 3rem;
  }

  .nav__title,
  .nav__title > span {
    font-size: 2rem;
    line-height: 2rem;
  }

  .hero__h1 {
    width: 125%;
  }

  .hero {
    width: 100%;
    display: flex;
    padding-bottom: 5rem;
  }

  .pattern-circle {
    bottom: 15%;
    left: -3.75rem;
  }

  .portrait__container {
    margin-right: 0;
  }

  .portrait {
    overflow-x: visible;
    margin-right: 0;
  }

  .footer {
    padding-bottom: 3rem;
  }

  .contact {
    flex-direction: row;
    align-items: start;
    text-align: start;
  }
}
